{
  "presets": [				// babel初始化设置
    "@babel/preset-env",		// 让babel根据环境自动转换ES6+语法
    "@babel/preset-react"		// 让babel支持react语法
  ],
  "plugins": [						// 插件
    "@babel/plugin-transform-runtime",			// babel运行时垫片库
    "@babel/plugin-proposal-object-rest-spread",  	// 支持对象的扩展运算符
    "@babel/plugin-syntax-dynamic-import",  		// 支持异步import语法
    ["@babel/plugin-proposal-decorators", { "legacy": true }],	// 支持“修饰器”语法
    "@babel/plugin-proposal-class-properties",		// 支持编译class类中直接定义箭头函数语法
    "@babel/plugin-proposal-optional-chaining", // 支持“可选链”语法： a.b?.c, 相当于： a.b ? a.b.c : undefined
    "@babel/plugin-proposal-nullish-coalescing-operator", // 支持“双问号”语法：a ?? b, 相当于： a ? a : b;
    "react-loadable/babel",		// 代码分割插件raect-loadable配置，服务端渲染时有关，暂时没用
    [
      "import",				// babel-plugin-import按需加载插件
      {
          "libraryName": "antd",	// 需要按需加载的包的名字
          "style": true		// true - 加载antd的less样式文件， 'css' - 加载antd的css样式文件
      }
    ]
  ]
}